<!--views/partials/navbar.handlebars -->
<!--Now that we have the user's experience mapped out and the functionality
built, we can style the pages using Twitter's project Bootstrap (the web's most
popular CSS Framework). -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Rotten Potatoes
            </a>
        </div>
        <div class="pull-right">
            <a href="/reviews/new" class="btn btn-default navbar-btn">New Review</a>
        </div>
    </div>
</nav>
